<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <h1>Generic<span class="tm">tm</span> Hair Salon</h1>

            {% if stylist is not empty %}
            <form action="/edit-stylist/{{stylist.getId}}" method="post">
                <h4>Editing {{stylist.getName}}</h4>
                <input type="hidden" name="_method" value="patch">
                <label for="new-stylist-name">Name:</label>
                <input class="form-control" type="text" name="new-stylist-name" value="{{stylist.getName}}">

                <button type="submit">Add</button>
            </form>

            {% endif %}

            <a href="/" class="btn btn-success">Home</a>
        </div>

    </body>
</html>
